header
{
	background-image : url("https://images.pexels.com/photos/2249/vegetables-italian-pizza-restaurant.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
	background-color : pink;
	color : white;
	text-align: center;
	font-size: 18px;

}

ul
{
	color: white ;
}
